.jumbotron {
  background-color: #53c570;
  color: white;
  padding-top: 2rem;
}

/* #projects {
  background-color: #53c570;
} */

footer {
  background-color: #53c570;
}

.gallery-img {
  width: 100%;
}

/* apapun yang ada di dalam setelah row ambil semua paddingnya*/
#gallery .row > * {
  padding: 0;
}

/* My Keyboard Section */

.keyboards-box {
  position: relative;
  background-color: #53c570;
  border-radius: 10px;
  height: 400px;
  transform-style: preserve-3d;
}

.keyboards-box::before {
  content: "MY";
  position: relative;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 25%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboards-box:hover::before {
  opacity: 0.2;
}

.keyboards-box::after {
  content: "KEYBOARD";
  position: relative;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  top: 200px;
  left: 10%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboards-box:hover::after {
  opacity: 0.2;
}

.keyboards-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.keyboards-box:hover .keyboards-name {
  top: 30px;
  opacity: 1;
}

.keyboards-detail-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.keyboards-box:hover .keyboards-detail-btn {
  opacity: 1;
  bottom: 40px;
}

.keyboard-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 250%; /* mengubah ukuran gambar*/
  transition: 0.5s;
}

.keyboards-box:hover .keyboard-img {
  transform: translate3d(-50%, -52%, 80px) rotate(5deg) scale(1.2);
}
