.jumbotron {
  background-color: #53c570;
  color: white;
  padding-top: 2rem;
}

/* #projects {
  background-color: #53c570;
} */

footer {
  background-color: #53c570;
}

.gallery-img {
  width: 100%;
}

/* apapun yang ada di dalam setelah row ambil semua paddingnya*/
#gallery .row > * {
  padding: 0;
}
